<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <a [routerLink]="['/']" class="btn btn-link">Main page</a>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>11.11.2011</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae minus quisquam repudiandae similique soluta vero voluptate voluptatem. Laboriosam, numquam, sunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae minus quisquam repudiandae similique soluta vero voluptate voluptatem. Laboriosam, numquam, sunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae minus quisquam repudiandae similique soluta vero voluptate voluptatem. Laboriosam, numquam, sunt.</p>
  </div>
</div>
