<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <h1>Create new post</h1>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
  >
    <label>Title: <input type="text" formControlName="title"></label>
    <div
      *ngIf="form.get('title').touched && form.get('title').invalid"
      class="validation">
      <small *ngIf="form.get('title').errors.required">Title is required</small>
    </div>
  </div>

  <div class="form-control">
    <quill-editor formControlName="text"></quill-editor>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}"
  >
    <label>Author: <input type="text" formControlName="author"></label>
    <div
      *ngIf="form.get('author').touched && form.get('author').invalid"
      class="validation">
      <small *ngIf="form.get('author').errors.required">Author is required</small>
    </div>
  </div>

  <button type="submit" class="btn btn-dark btn-block" [disabled]="form.invalid">Create post</button>
</form>
